*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
.hidden{
  display: none;
}
:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Manrope', sans-serif;
  background-color: var(--Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice__container {
  position: relative;
  background-color: var(--Dark-Grayish-Blue);
  text-align: center;
  border-radius: 20px;
  padding: 3.125rem 1.25rem;
  max-width: 33.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.125rem;
  box-shadow: hsl(218deg 22% 9%) 0px 30px 90px;
}


.advice__id {
  color: var(--Neon-Green);
  letter-spacing: 3px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 800;
}

.advice__content {
  font-size: 1.75rem;
  font-weight: 800;
  color: #cee3e9;
}

.advice__divider {
  margin: auto;
}

.advice__button {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--Neon-Green);
  border-radius: 50%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-image: url(../images/icon-dice.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.advice__button:hover {
  box-shadow: var(--Neon-Green) 0px 10px 76px 13px;
}

.error{
  position: absolute;
  top:5%;
  left: 50%;
  background-color:var(--Dark-Grayish-Blue) ;
  text-align: center;
  padding: 10px 20px;
  color:#ff5a5a;
  transform: translateX(-50%);
  border-radius: 5px;
  font-weight: bold;
    letter-spacing: 3px;
}


@media (max-width:600px) {
  .advice__container{
    width: 80%;
  }
}
